*{
    background-color: rgb(167, 154, 164);
    color: fff;
}

#banner{
    font-size: xx-large;
    color: rgb(17, 7, 7);
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    
}

#clock{
    font-size: 40px;
    font-weight: 500;
    background-color: rgb(173, 50, 50);
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px 60px;
}

#clock:hover{
    background-color: orange;
}